.product-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 15px 20px;


  &-img {
    width: 280px;
    height: 230px;
  }

  &-header {
    width: 100%;
    display: flex;
    margin-top: 30px;
    position: relative;
  }

  &-body {
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 3px;
    }
  }

  &-fav_item {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 5px;
  }

  &-title {
    margin: 0;
  }

  &-text {
    margin: 0;
  }
}
